[user]
  name = hamadash
  email = 60833258+hamadash@users.noreply.github.com
[alias]
  c = checkout
  b = branch
  st = status
  ss = stash
  fcb = "!f() { git fetch && git checkout -b \"$1\" \"origin/$1\"; }; f"
[init]
  defaultBranch = main
[delta]
  side-by-side = true
